
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li strong {
    font-size: 1.2em;
    color: #4CAF50;
}

li em {
    display: block;
    margin-top: 10px;
    color: #888;
}


header, footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    font-size: 0.8em;
}
